# ปิดปุ่มดาวน์โหลดได้ด้วย false
# NEXT_PUBLIC_DOWNLOAD_AVAILABLE=false

# ค่าเริ่มต้นชี้ไปที่ GitHub Releases
# NEXT_PUBLIC_DOWNLOAD_URL=https://github.com/MDRWP-GH/amath-website/releases/download/v1.0/Setup.exe

# ตอนพัฒนาถ้าอยากโหลดไฟล์จากเครื่องตัวเอง:
# NEXT_PUBLIC_DOWNLOAD_URL=/downloads/Setup.exe
